@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
body {
    background: url("imagem/Group\ 2.svg") no-repeat;
    background-size: 100%;
}

h1 {
    position: absolute;
    width: 627.28px;
    height: 207.71px;
    left: 800px;
    top: 360px;
    
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 100px;
    /* or 114% */
    
    letter-spacing: -0.03em;
    
    color: #000000;
    
    transform: matrix(1, 0, 0, 1, 0, 0);
}

span{
    position: absolute;
    width: 387.21px;
    height: 90.51px;
    left: 770px;
    top: 366.55px;
    
    font-family: 'Faustina';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 73px;
    /* or 221% */
    
    
    color: #000000;
    
    transform: m
}

span2{
    position: absolute;
width: 287.83px;
height: 48.2px;
left: 1150px;
top: 618.95px;

font-family: 'Faustina';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 42px;

color: #000000;

transform: matrix(1, 0, 0, 1, 0, 0);
}

span3{
    position: absolute;
width: 487px;
height: 32px;
left: calc(50% - 487px/2 - -150px);
top: 800px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;

color: #000000;

}